{% extends 'main/base.html' %}

{% block title %}{{create_title}}{% endblock %}

{% block content %}
    <h4>{{create_title}}</h4>
    <form method="POST" action="#">
        {% csrf_token%}
        <div class="form-group">
            <label>Name:</label><br>
            {{form.name}}
        </div><br>
        <div class="form-group">
            <label>UPI:</label><br>
            {{form.upi}}
        </div><br>
        <div class="form-group">
            <label>Admin Privilege:</label>
            {{form.isAdmin}}
        </div><br>
        
        <button type="submit" name="save" value="save" class="btn btn-success">Save</button>
        <button type="submit" name="create" value="create" class="btn btn-success">Create New</button>
    </form>
    <br><br>
    <h4>Already Created:</h4>
    
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">UPI</th>
            <th scope="col">Admin</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for entry in already_created %}
                <tr>
                    <td>{{entry.name}}</td>
                    <td>{{entry.upi}}</td>
                    <td>{{entry.isAdmin}}</td>
                    <td><a href="createPerson?upi={{entry.upi}}">Edit</a></td>
                </tr>
            {% endfor %}
        </tbody> 
    </table>
{% endblock %}